/*CSS Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}

select::-ms-expand {
    display: none;
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/open-sans-v17-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}


.logo {
    padding: 10px 5px;
}

ul li {
    list-style-type: none;
}

li label {
    display: block;
    text-transform: uppercase;
    padding: 20px 0 5px 0;
    font-size: 15px;
}

li input {
    width: 100%;
    font-size: 20px;
    background-color: #f0efef;
    border: 2px solid #dedede;
    border-radius: 0;
}


footer {
    background-color: #f0efef;
    margin-top: 25px;
}

.footer-logo {
    height: 10px;
    width: 160px;
    padding-top: 20px;
    max-width: 160px;
}

.custom-select {
    position: relative;
    display: flex;
    overflow: hidden;
    border: 2px solid #dedede;
}

select {
    flex: 1;
    cursor: pointer;
    width: 102%;
    font-size: 20px;
    border-radius: 0 !important;
    background-color: #f0efef;
}

.custom-select::after {
    content: '\25BC';
    position: absolute;
    right: 0;
    color: #dedede;
    padding: 2px 2px;
    cursor: pointer;
}

.fadeIn {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Using the simple flexbox row column layout since it's only one page, otherwise I could be using a grid library*/
@media screen and (min-width: 1024px) {
    .container {
        margin: 0 auto;
        max-width: 1020px;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }

    .column-60 {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1.6;
        padding-right: 20px;
    }

    .column-40 {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1.4;
        padding-left: 20px;
    }

    .border-right {
        border-right: 1px solid black;
    }

    .header-logo {
        margin: 0 auto;
        max-width: 400px;
        padding: 15px;
    }

    .hero {
        background-image: url(../../images/lucid-air-gallery-009.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        margin-bottom: 25px;
        padding-bottom: calc(800px + (474 - 700) * (100vw - 600px) / (1024 - 50));
    }

    .hero:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        content: '';
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 0;
    }

    .hero h1 {
        position: absolute;
        bottom: 5%;
        transform: translate(20%, -10%);
        z-index: 1;
        font-size: 52px;
        max-width: 400px;
        line-height: 62px;
        color: #fff;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .logo {
        padding: 10px 5px;
    }


    .signup-btn {
        color: #fff;
        background: #b18f4f;
        border: 1px solid #b18f4f;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        float: right;
        margin: 20px 2px;
        cursor: pointer;
        text-transform: uppercase;
    }

    .right {
        align-items: right;
        text-align: center;
    }

    .small {
        font-size: 14px;
        text-decoration: none;
    }

    .copy {
        padding: 20px 0;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0 auto;
        max-width: 1020px;
        padding: 5%;
    }

    .row {
        width: 80%;
    }

    .column-40 form ul {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }

    .column-40 form ul li {
        width: 45%;
        padding-right: 20px;
    }

    .signup-btn {
        color: #fff;
        background: #b18f4f;
        border: 1px solid #b18f4f;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        float: right;
        margin: 20px 25px 30px 0;
        cursor: pointer;
        text-transform: uppercase;
    }

    .border-right {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    }

    .header-logo {
        margin: 20px;
        max-width: 400px;
        padding: 15px;
    }

    .hero {
        background-image: url(../images/lucid-air-gallery-009.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        position: relative;
        margin-bottom: 25px;
        padding-bottom: 400px;
    }

    .hero:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        content: '';
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 0;
    }

    .hero h1 {
        position: absolute;
        bottom: 3%;
        z-index: 1;
        font-size: 32px;
        max-width: 30%;
        line-height: 42px;
        color: #fff;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .logo {
        padding: 10px 5px;
    }

    .right {
        align-items: right;
        text-align: center;
    }

    .small {
        font-size: 14px;
        text-decoration: none;
    }

    .copy {
        padding: 20px 0;
    }

}

@media screen and (max-width: 768px) {

    .container {
        margin: 0 auto;
        max-width: 768px;
        padding: 20px;
    }

    .column-60 {
        padding-bottom: 20px;
    }

    .column-40 {
        padding-top: 20px;
    }

    .border-right {
        border-bottom: 1px solid black;
    }

    .header-logo {
        margin: 10px;
        max-width: 400px;
        padding: 15px;
    }

    .hero {
        background-image: url(../images/lucid-air-gallery-009.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        position: relative;
        width: auto;
        max-width: 108%;
        margin: 0 -90px 25px 0;
        height: auto;
        padding-bottom: 350px;
    }

    .hero:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        content: '';
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 0;
    }

    .hero h1 {
        position: absolute;
        top: 2%;
        z-index: 1;
        font-size: 32px;
        max-width: 75%;
        line-height: 38px;
        color: #000;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 25px;
        font-weight: 200;
        margin-bottom: 15px;
    }

    .signup-btn {
        display: flex;
        justify-content: center;
        color: #fff;
        background: #b18f4f;
        border: 1px solid #b18f4f;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        position: relative;
        left: 35%;
        margin-top: 20px;
        cursor: pointer;
        text-transform: uppercase;
    }

    .small {
        font-size: 14px;
        text-decoration: none;
        max-width: 350px;
    }

    .copy {
        padding-top: 10px;
        line-height: 32px;
    }

    .footer-logo {
        height: 10px;
        width: 160px;
        padding: 10px 0;
        max-width: 160px;
    }

}